.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Setting body colour*/

body{
  background-color: #edcccc;
}

/* card css */
.card{
  margin-right: 5%;
  border-radius: 25px;
}

/* Button Css */
.new-lead{
  background-color: #ed7992;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ongoing-lead{
  background-color: #e3cd91;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.proposed-lead{
  background-color: #9dd2eb;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.finished-lead{
  background-color: #568da3;
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-lg{
  width: 100%;
}

/* Logo Css */
.dashboard-logo{
  margin-top: 1%;
  margin-left: 73%;
}

/* Sidebar Css */

body{
  min-height: 100vh;
}

.navbar{
  width: 160px;
  height: 100vh;
  background-color: #043759;
  transition: 0.3s;
  padding-left: 3rem;
}

.nav-link{
  font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: #568da3;
}

/*Lead Section Css*/
.newLead {
  width: 22%;
  height: 100%;
  color: #45597E;
}

.droppable {
  width: 22%;
  color: #45597E;
}

.draggable {
  color: #45597E;
  font-family: sans-serif;
  font-weight: bold;
}
